1. 使用 pnpm 来执行所有的包安装和项目运行程序
2. 优先考虑使用 tailwindcss 来进行样式的编写，而不是单独建立一个 css 或 less 样式文件，除非一些特殊的页面需要单独写 css 样式
3. 该项目主要服务于移动端的项目，所以在处理一些业务逻辑时应该充分考虑移动端的场景，以及移动端的一些交互问题，考虑不同设备之间的兼容性
4. 该项目作为移动端H5 页面开发的脚手架，每次新增或变更一些特性时，需要及时进行 README.md 文档的更新
5. 对于一些项目中常见的使用场景，比如数据 mock，图片处理，IconFont，react hook 编写等等，优先寻找第三方成熟插件，其次再考虑自行实现该功能